{
  "presets": [
    ["minify"],
    [
      "@babel/preset-env",
      {
        "modules": "commonjs",
        "useBuiltIns": "usage",
        "corejs": 3
      }
    ],
    "@babel/preset-react"
  ]
}
