.App {
  font-family: sans-serif;
  text-align: center;
}
.home,
.block {
  border: 1px solid red;
  text-align: center;
  padding: 50px 0;
}

ul li {
  list-style: none;
}

.block {
  border: 1px solid blue;
}

a {
  display: block;
}

@keyframes page-block-in {
  0% {
    opacity: 0;
    transform: translateY(200px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes page-block-out {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(200px);
  }
}

.routes {
  display: flex;
  background: gray;
  justify-content: space-around;
  align-items: center;
  margin: 20px 0;
}
